body {
    background-color : pink;
}
form {
    border : gray solid 1px;
    padding : 4px;
}
legend {
    padding : 1px;
    color : black;
    position : relative;
    margin-left : auto;
    margin-right : auto;
}
button {
    margin-top : 1%;
}
.tip {
    position : relative;
    cursor : help;
    text-decoration : none;
    color : inherit;
}
.tip span {
    display : none;
    z-index : 100;
    position : absolute;
    padding : 0.6em;
    padding-left : 1em;
    top : 1.5em;
    left : 2.4em;
    width : 10em;
    border-radius : 0.5em;
}
.tip:hover span {
    display : inline-block;
}
.sg-question-set, .sg-type-radio ul.sg-list-vertical li, .sg-type-checkbox ul.sg-list-vertical li, .sg-question-options, .sg-type-radio-likert .sg-question-options, .sg-type-table .sg-question-options, .sg-instructions {
    overflow : visible;
}